* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 4vh 8vw;
  transition: background 0.25s ease;
  font-family: Lato;
}

#app {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}
select {
  cursor: pointer;
  font-size: 1.5rem;
}
h1 {
  color: #fff;
}
