* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 4vh 8vw;
  transition: background 0.25s ease;
  font-family: Lato;
}

#app {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}
select {
  cursor: pointer;
  font-size: 1.5rem;
}
h1 {
  color: #fff;
}

// Box

.boxes {
  display: block;
  border: 2px solid lighten(gray, 40%);
  padding: 1vh 2vw;
  max-width: 600px;
  height: 400px;
  margin: auto;
  margin-bottom: 2vh;
  overflow: hidden;
  .flexBox {
    margin: 1vw;
    border: 2px solid gray;
    padding: 1em 2em;
    border-radius: 1em;
  }
}
